{% extends "base.html" %}

{% load static %}

{% load filter %}

{% block additional_script %}
<script type="text/javascript">
</script>
{% endblock %}

{% block mainbody %}
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-sm-6">
                    <section class="panel">
                        <header class="panel-heading">
                            基本信息
                            <ul class="nav nav-tabs pull-right tab-bg-dark-navy-blue">
                                {% for service in service_detail %}
                                    {% if service.service.namespace == 'prod' %}
                                        <li class="active">
                                    {% else %}
                                        <li class="">
                                    {% endif %}
                                    <a data-toggle="tab" href="#basic-{{ service.service.namespace }}">{{ service.service.namespace }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </header>
                        <div class="panel-body">
                            <div class="tab-content">
                            {% for service in service_detail %}
                                {% if service.service.namespace == 'prod' %}
                                    <div id="#basic-{{ service.service.namespace }}" class="tab-pane active">
                                        {% else %}
                                            <div id="#basic-{{ service.service.namespace }}" class="tab-pane">
                                {% endif %}

                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>应用名</td>
                                            <td>{{ service.service_name }}</td>
                                            <td>负责人</td>
                                            <td>{{ service.service.service_po }}</td>
                                        </tr>
                                        <tr>
                                            <td>产品审批人</td>
                                            <td>{{ service.service.service_po }}</td>
                                            <td>邮件地址</td>
                                            <td>{{ service.service.service_po_email }}</td>
                                        </tr>
                                        <tr>
                                            <td>QA审批人</td>
                                            <td>{{ service.service.service_qa }}</td>
                                            <td>邮件地址</td>
                                            <td>{{ service.service.service_qa_email }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                    </section>
                </div>
                <div class="col-sm-6">
                    <section class="panel">
                        <header class="panel-heading">
                            发布配置信息
                            <ul class="nav nav-tabs pull-right tab-bg-dark-navy-blue">
                                {% for service in service_detail %}
                                    {% if service.service.namespace == 'prod' %}
                                        <li class="active">
                                    {% else %}
                                        <li class="">
                                    {% endif %}
                                    <a data-toggle="tab" href="#release-config-{{ service.service.namespace }}">{{ service.service.namespace }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </header>
                        <section class="panel">
                            <div class="panel-body">
                                <div class="tab-content">
                                    {% for service in service_detail %}
                                        {% if service.service.namespace == 'prod' %}
                                            <div id="release-config-{{ service.service.namespace }}" class="tab-pane active">
                                        {% else %}
                                            <div id="release-config-{{ service.service.namespace }}" class="tab-pane">
                                        {% endif %}
                                        <div class="panel-body">
                                            <table class="table table-hover">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>CPU限额</td>
                                                    <td>{{ service.container_resource_cpu }}</td>
                                                    <td>内存限额</td>
                                                    <td>{{ service.container_resource_mem }}</td>
                                                </tr>
                                                <tr>
                                                    <td>端口</td>
                                                    <td>{{ service.service_port }}</td>
                                                    <td>标签</td>
                                                    <td>{{ service.service_label }}</td>
                                                </tr>
                                                <tr>
                                                    <td>初始副本数</td>
                                                    <td>{{ service.init_replica }}</td>
                                                    <td>指定副本数</td>
                                                    <td>{{ service.desired_replica }}</td>
                                                </tr>
                                                <tr>
                                                    <td>服务模板</td>
                                                    <td>{{ service.service_deploy_template }}</td>
                                                    <td>堆栈模板</td>
                                                    <td>{{ service.stack_deploy_template }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            发布任务
                            <ul class="nav nav-tabs pull-right tab-bg-dark-navy-blue">
                            {% for service in service_detail %}
                                {% if service.service.namespace == 'prod' %}
                                    <li class="active">
                                {% else %}
                                    <li class="">
                                {% endif %}
                                <a data-toggle="tab" href="#release-tasks-{{ service.service.namespace }}">{{ service.service.namespace }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </header>
                            <div class="panel-body">
                                <div class="tab-content">
                                    {% for service in service_detail %}
                                        {% if service.service.namespace == 'prod' %}
                                            <div id="release-tasks-{{ service.service.namespace }}" class="tab-pane active">
                                        {% else %}
                                            <div id="release-tasks-{{ service.service.namespace }}" class="tab-pane">
                                        {% endif %}
                                    <div class="panel-body">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                <th>部署环境</th>
                                                <th>发布版本号</th>
                                                <th>任务创建时间</th>
                                                <th>回滚发布时间</th>
                                                <th>发布完成时间</th>
                                                <th>当前状态</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for release_task in release_info|keyvalue:service.service.namespace %}
                                            <tr class="">
                                                <td>{{ service.service.namespace }}</td>
                                                <td>{{ release_task.release_tag }}</td>
                                                <td>{{ release_task.task_createtime }}</td>
                                                <td>{{ release_task.rollback_datetime }}</td>
                                                <td>{{ release_task.deployed_datetime }}</td>
                                                {% if release_task.is_autotask == 1 %}
                                                    <td>自动任务</td>
                                                {% else %}
                                                    {% if release_task.is_init_provisioned == 0 %}
                                                        <td>未完成（等待初始发布）</td>
                                                    {% elif release_task.is_init_provisioned == 1 and release_task.is_full_provisioned == 0 %}
                                                        <td>未完成（初始发布完成）</td>
                                                    {% elif release_task.is_init_provisioned == 1 and release_task.is_full_provisioned == 1 and release_task.is_deployed == 0 %}
                                                        <td>未完成（完整发布完成）</td>
                                                    {% elif release_task.is_init_provisioned == 1 and release_task.is_full_provisioned == 1 and release_task.is_deployed == 1 %}
                                                        <td>已完成（发布成功）</td>
                                                    {% elif release_task.is_rolledback == 1 %}
                                                        <td>已回滚</td>
                                                    {% endif %}
                                                {% endif %}
                                            </tr>
                                            {% empty %}
                                                <td align="center" colspan="6">当前无发布任务</td>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            统计信息
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-cog"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                             </span>
                        </header>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>使用容器数</td>
                                    <td>12</td>
                                    <td>发布总次数</td>
                                    <td>23</td>
                                </tr>
                                <tr>
                                    <td>使用主机数</td>
                                    <td>4</td>
                                    <td>发布成功数</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>发布最长时间</td>
                                    <td>2h15min</td>
                                    <td>发布失败数</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>发布最短时间</td>
                                    <td>48min</td>
                                    <td>发布成功率</td>
                                    <td>78%</td>
                                </tr>
                                <tr>
                                    <td>发布平均时间</td>
                                    <td>1h15min</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>

<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>

{% endblock %}