{% extends "base.html" %}

{% load static %}

{% load filter %}

{% block mainbody %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
        <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="row">
                            <div class="col-sm-12">
                                <header class="panel-heading">
                                    应用环境选择
                                </header>
                                <div class="panel-body">
                                    <button type="button" class="btn btn-default" id="add-app"><a href="/deploy/AppSetup.html">新增应用</a></button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            应用列表
                        </header>
                        <div class="panel-body">
                        <div class="adv-table editable-table">
                        <table class="table table-striped table-hover" id="service-list">
                        <thead>
                        <tr align="center">
                            <th align="center">项目名称</th>
                            <th align="center">发布环境</th>
                            <th>项目负责人</th>
                            <th>QA负责人</th>
                            <th>当前运行版本</th>
                            <th>发布时间</th>
                            <th>当前发布状态</th>
                            <th>最新待发布版本</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service_name in services_envs %}
                        <tr>
                            <td rowspan="{{ service_name.env_count }}"><a href="/deploy/AppDetail/{{ service_name.service_name }}">{{ service_name.service_name }}</a></td>
                            {% for service in services_list_by_name|keyvalue:service_name.service_name %}
                            <td>{{ service.namespace }}</td>
                            <td>{{ service.service_po }}</td>
                            <td>{{ service.service_qa }}</td>
                            <td>{{ service.current_release_tag }}</td>
                                {% for service_ci in services_list_by_id|keyvalue:service.id %}
                                    {% if service_ci %}
                                        <td>{{ service_ci.end_time }}</td>
                                        {% if service_ci.status == 0 %}
                                            <td><button type="button" class="btn btn-default btn-sm"> 未发布</button></td>
                                        {% elif service_ci.status == 1 %}
                                            <td><button type="button" class="btn btn-success btn-sm"> 成功</button></td>
                                        {% elif service_ci.status == 2 %}
                                            <td><button type="button" class="btn btn-danger btn-sm"> 失败</button></td>
                                        {% endif %}
                                        {% if service_ci.release_tag == service.current_release_tag %}
                                            <td>当前已是最新版本</td>
                                        {% else %}
                                            <td>{{ service_ci.release_tag }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td>None</td>
                                        <td><button type="button" class="btn btn-default btn-sm"> 无任务</button></td>
                                        <td>无任务</td>
                                    {% endif %}
                                    {% empty %}
                                        <td align="center">无数据</td>
                                {% endfor %}
                        </tr>
                            {% empty %}
                                <td align="center">无数据</td>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                        </table>
                        </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
{% endblock %}

<script>
	$('button.btnDelete').on('click', function (e) {
    e.preventDefault();
    var id = $(this).closest('tr').data('id');
    $('#myModal1').data('id', id).modal('show');
});

$('#btnDelteYes').click(function () {
    var id = $('#myModal1').data('id');
    $('[data-id=' + id + ']').remove();
    $('#myModal1').modal('hide');
});
</script>
<!--Script for Uploading Modal (Now is disabled)-->
<script>
	$('button.btnUpload').on('click', function (e) {
    e.preventDefault();
    var id = $(this).closest('tr').data('id');
    $('#myModal2').data('id', id).modal('show');
});

$('#btnUploadYes').click(function () {
    var id = $('#myModal').data('id');
    $('[data-id=' + id + ']').remove();
    $('#myModal2').modal('hide');
});
</script>
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>
