{% extends "base.html" %}

{% load static %}

{% block additional_script %}
<script type="text/javascript">
    $(function() {
        $("#submit").click(function() {
            var service_name = $.trim($("#service_name").val());
            if ( service_name == "" ) {
                $(".service_name").append( "<font color=red>请输入服务名</font>" );
                $('html, body').animate({
                    scrollTop: $(".service_name").position().top
                }, 1000);
                return false;
            }
            alert(service_name);

            var pd_principal = $.trim($("#pd_principal").val());
            if ( pd_principal == "" ) {
                $(".pd_principal").append( "<font color=red>请输入产品负责人</font>" );
                $('html, body').animate({
                    scrollTop: $(".pd_principal").position().top
                }, 1000);
                return false;
            }

            var pd_principal_email = $.trim($("#pd_principal_email").val());
            if ( pd_principal_email == "" ) {
                $(".pd_principal_email").append( "<font color=red>请输入产品负责人邮箱</font>" );
                $('html, body').animate({
                    scrollTop: $(".pd_principal_email").position().top
                }, 1000);
                return false;
            }

            var qa_principal = $.trim($("#qa_principal").val());
            if ( qa_principal == "" ) {
                $(".qa_principal").append( "<font color=red>请输入QA负责人</font>" );
                $('html, body').animate({
                    scrollTop: $(".qa_principal").position().top
                }, 1000);
                return false;
            }

            var qa_principal_email = $.trim($("#qa_principal_email").val());
            if ( qa_principal_email == "" ) {
                $(".qa_principal_email").append( "<font color=red>请输入QA负责人邮箱</font>" );
                $('html, body').animate({
                    scrollTop: $(".qa_principal_email").position().top
                }, 1000);
                return false;
            }

            service_desc = $.trim($("#service_desc").val());
            if ( service_desc == "" ) {
                $(".service_desc").append( "<font color=red>请输入服务相关描述信息</font>" );
                $('html, body').animate({
                    scrollTop: $(".service_desc").position().top
                }, 1000);
                return false;
            }

            service_port = $.trim($("#service_port").val());
            if ( service_port == "" ) {
                $(".service_port").append( "<font color=red>请输入服务端口</font>" );
                $('html, body').animate({
                    scrollTop: $(".service_port").position().top
                }, 1000);
                return false;
            }

            service_template = $.trim($("#service_template").val());
            deployment_template = $.trim($("#deployment_template").val());
            cpu_limit = $.trim($("#cpu_limit").val());
            mem_limit = $.trim($("#mem_limit").val());
            init_replica = $.trim($("#init_replica").val());
            desired_replica = $.trim($("#desired_replica").val());

            var env_vars = [];

            var env_count = $("#env-set > div").length;
            // alert(env_count);

            for (i = 1; i <= env_count; i++) {
                is_autotask = $('#is_auto-' + i).is(':checked') ? 1 : 0
                env_vars.push({
                            env_name: $('#env_name-' + i).val(),
                            is_autotask: is_autotask,
                            service_tags: {
                                             app: $('#tag-service_name-' + i).val(),
                                             type: $('#tag-app_type-' + i).val(),
                                             version: $('#tag-release_tag-' + i).val(),
                                             ctag1: $('#ctag1-' + i).val(),
                                             ctag2: $('#ctag2-' + i).val(),
                                             ctag3: $('#ctag3-' + i).val(),
                                           },
                            jenkins_url: $('#jenkins_url-' + i).val(),
                            jenkins_jobname: $('#jenkins_jobname-' + i).val()
                        });
                // alert(env_vars[0].service_tags['ctag2']);
            }

            post_data = {
                          "service_name": service_name,
                          "pd_principal": pd_principal,
                          "pd_principal_email": pd_principal_email,
                          "qa_principal": qa_principal,
                          "qa_principal_email": qa_principal_email,
                          "service_desc": service_desc,
                          "env_vars": env_vars,
                          "service_port": service_port,
                          "service_template": service_template,
                          "deployment_template": deployment_template,
                          "cpu_limit": cpu_limit,
                          "mem_limit": mem_limit,
                          "init_replica": init_replica,
                          "desired_replica": desired_replica
                        };

            $('.submit').html('<img src="{% static 'images/loading.gif' %}"/>');

            setTimeout(function(){
                $.ajax({
                    url: '/deploy/app_save',
                    type: 'POST',
                    data: JSON.stringify(post_data),
                    dataType: 'text',
                    success: Response
                });
             }, 2000);
        });
    });

    function loading(){
        $('.submit').html('<img src="{% static 'images/loading.gif' %}"/>');
    };

    function Response(data){
        setTimeout
        $('.submit').html('<button type="text" class="btn btn-success">成功添加服务！</button>');
    };

    function fill_service_name(){
        var t_service_name = document.getElementById("service_name").value
        $('.tag-service_name').val(t_service_name);
    }

    $(document).ready(function(){
        $("#add-env").click(function(){
            var env_count = $("#env-set > div").length + 1;
            $('#env-set').append($('#env-set-template').clone(true));
            $('#env-set').children(':last-child').attr('id', 'env-' + env_count).removeAttr('hidden');
            var added_env = $('#env-set').children(':last-child').attr('id')
            // alert(added_env)

            $('#' + added_env + ' .env').each(function(){
                $(this).toggleClass('env' + ' env-' + env_count);
                var id_name = this.id
                $(this).attr('id', id_name + '-' + env_count);
                $(this).attr('href', '#' + 'remove-env-dialog')
                // $(this).attr('href', '#' + 'remove-env-dialog-' + env_count)
                // alert ($(this).attr('id'));
            });

            $.ajax({
                url: '/cluster/get_namespaces',
                type: 'GET',
                dataType: 'json',
                async: 'False',
                success: function(res){
                    var env_menu = $('#env_name-' + env_count).attr('id')
                    var data = {}
                    var available_namespaces = res['namespaces']
                    for (i in available_namespaces){
                        data['available_namespaces[i]'] = available_namespaces[i]
                        $('#env_name-' + env_count).append($('<option value="' + available_namespaces[i] + '">' + available_namespaces[i] + '</option>'))
                    }
                }
            });
        });

        $('.remove-env-btn').click(function(){
            env_classname = $(this).attr('class').match(/env-[\d]/);
        });

        $('.confirm-removal').click(function(){
            // alert (env_classname);
            $('#' + env_classname).empty();
            $('.remove-env-dialog').modal('hide');
        });
    });
</script>

{% endblock %}

{% block mainbody %}
    <!--main content start-->
    <section id="main-content" class="">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-8">
                    <section class="panel">
                        <header class="panel-heading">1 - 基本信息</header>
                            <div class="panel-body">
                                <div class="position-left">
                                    <div class="col-lg-8">
                                        <div class="form-group service_name">
                                            <label>应用名</label>
                                            <input type="text" class="form-control" id="service_name" placeholder="应用名" maxlength="30" onkeyup="fill_service_name()">
                                        </div>
                                        <div class="form-group pd_principal">
                                            <label>产品负责人</label>
                                            <input type="text" class="form-control" id="pd_principal" placeholder="产品负责人" maxlength="50" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                        </div>
                                        <div class="form-group pd_principal_email">
                                            <label>邮箱</label>
                                            <input type="email" class="form-control" id="pd_principal_email" placeholder="邮箱" maxlength="150">
                                        </div>
                                        <div class="form-group qa_principal">
                                            <label>QA负责人</label>
                                            <input type="text" class="form-control" id="qa_principal" placeholder="QA负责人" maxlength="50" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                        </div>
                                        <div class="form-group qa_principal_email">
                                            <label>邮箱</label>
                                            <input type="email" class="form-control" id="qa_principal_email" placeholder="邮箱" maxlength="150">
                                        </div>
                                        <div class="form-group service_desc">
                                            <label>应用描述</label>
                                            <textarea class="form-control" placeholder="应用描述" rows="6" id="service_desc" maxlength="400"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </section>

                    <section class="panel">
                        <header class="panel-heading">
                            2 - 构建环境定义
                        </header>
                        <!-- 弹出框html -->
                        <div class="modal fade remove-env-dialog env" id="remove-env-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">删除环境</h4>
                                    </div>
                                    <div class="modal-body" align="center">

                                        是否确认删除此部署环境？

                                    </div>
                                    <div class="modal-footer">
                                        <button id="cancel-removal" data-dismiss="modal" class="btn btn-default cancel-removal env" type="button">取消</button>
                                        <button id="confirm-removal" data-dismiss="" class="btn btn-success confirm-removal env" type="button">确认</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 结束 -->
                        <!-- 环境模板 -->
                        <div class="panel-body" id="env-set-template" hidden>
                            <div class="col-lg-20" id="env">
                                <div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group" >
                                                <h5 class="page-header">新增环境
                                                    <span class="tools pull-right">
                                                        <a href="" id="remove-env-btn" class="fa fa-times remove-env-btn env" data-toggle="modal" title="删除此环境"></a>
                                                    </span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>环境名</label>
                                            <select id="env_name" class="env_name form-control env">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" class="is_auto env" id="is_auto">是否为自动发布任务</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label>标签 - 内建</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>{ "app" : __appname__ ,</label>
                                        <input id="tag-service_name" type="text" class="form-control tag-service_name env" value="" maxlength="20" disabled>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"type" : __apptype__ ,</label>
                                        <select id="tag-app_type" class="form-control input-sm m-bot15 tag-app_type env">
                                            <option value="frontend_api" selected>前端接口</option>
                                            <option value="backend_svc">后端服务</option>
                                            <option value="middleware">中间件</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"version" : __release_tag__ ,</label>
                                        <input type="text" class="form-control tag-release_tag env" id="tag-release_tag" value="release_tag" maxlength="20" disabled>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label>标签 - 自定义</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"ctag1"</label>
                                        <label> : __cvalue1__ , </label>
                                        <input type="text" placeholder="自定义标签值1" id="ctag1" class="control-label form-control ctag1 env" maxlength="20" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"ctag2"</label>
                                        <label> : __cvalue2__ , </label>
                                        <input type="text" placeholder="自定义标签值2" id="ctag2" class="control-label form-control ctag2 env" maxlength="20" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"ctag3"</label>
                                        <label> : __cvalue3__ , }</label>
                                        <input type="text" placeholder="自定义标签值3" id="ctag3" class="control-label form-control ctag3 env" maxlength="20" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <label>标签预览</label>
                                            <textarea class="form-control service_tags env" rows="4" id="service_tags" maxlength="300" disabled>{ "app": "服务名", "tier": "服务层级", "version": "release_tag" }</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label>Jenkins</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label>Jenkins链接</label>
                                            <input type="text" class="form-control jenkins_url env" name="jenkins_url" id="jenkins_url" placeholder="Jenkins URL" maxlength="400">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="jenkins_jobname">Jenkins任务名</label>
                                            <input type="text" class="form-control jenkins_jobname env" name="jenkins_jobname" id="jenkins_jobname" placeholder="Jenkins任务名" maxlength="30">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 结束 -->
                        <div class="panel-body" id="env-set">
                            <span class="tools pull-right add-env">
                                <button type="submit" class="btn btn-default" id="add-env">添加发布环境</button>
                            </span>
                            <div class="col-lg-20" id="env-1">
                                <div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group" >
                                                <h5 class="page-header">测试环境</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>环境名</label>
                                            <input id="env_name-1" type="text" class="env_name form-control env-1" value="qa" disabled>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" class="is_auto env-1" id="is_auto-1">是否为自动发布任务</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label>标签 - 内建</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>{ "app" : __appname__ ,</label>
                                        <input id="tag-service_name-1" type="text" class="form-control tag-service_name env-1" value="" maxlength="20" disabled>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"type" : __apptype__ ,</label>
                                            <select id="tag-app_type-1" class="form-control input-sm m-bot15 tag-app_type env-1">
                                                <option value="frontend_api" selected>前端接口</option>
                                                <option value="backend_svc">后端服务</option>
                                                <option value="middleware">中间件</option>
                                            </select>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"version" : __release_tag__ ,</label>
                                        <input type="text" class="form-control tag-release_tag env-1" id="tag-release_tag-1" value="release_tag" maxlength="20" disabled>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label>标签 - 自定义</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"ctag1"</label>
                                        <label> : __cvalue1__ , </label>
                                        <input type="text" placeholder="自定义标签值1" id="ctag1-1" class="control-label form-control ctag1 env-1" maxlength="20" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"ctag2"</label>
                                        <label> : __cvalue2__ , </label>
                                        <input type="text" placeholder="自定义标签值2" id="ctag2-1" class="control-label form-control ctag2 env-1" maxlength="20" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"ctag3"</label>
                                        <label> : __cvalue3__ , }</label>
                                        <input type="text" placeholder="自定义标签值3" id="ctag3-1" class="control-label form-control ctag3 env-1" maxlength="20" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <label>标签预览</label>
                                            <textarea class="form-control service_tags env-1" rows="4" id="service_tags-1" maxlength="300" disabled>{ "app": "服务名", "tier": "服务层级", "version": "release_tag" }</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label>Jenkins</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label>Jenkins链接</label>
                                            <input type="text" class="form-control jenkins_url env-1" name="jenkins_url" id="jenkins_url-1" placeholder="Jenkins URL" maxlength="400">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="jenkins_jobname">Jenkins任务名</label>
                                            <input type="text" class="form-control jenkins_jobname env-1" name="jenkins_jobname" id="jenkins_jobname-1" placeholder="Jenkins任务名" maxlength="30" onkeyup="value=value.replace(/[^\-\w\.\/]/ig,'')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-20" id="env-2">
                                <div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group" >
                                                <h5 class="page-header">生产环境</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>环境名</label>
                                            <input id="env_name-2" type="text" class="env_name form-control env-2" value="prod" disabled>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" class="is_auto env-2" id="is_auto-2" disabled>是否为自动发布任务</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label>标签 - 内建</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>{ "app" : __appname__ ,</label>
                                        <input id="tag-service_name-2" type="text" class="form-control tag-service_name env-2" maxlength="20" disabled>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"type" : __apptype__ ,</label>
                                        <select id="tag-app_type-2" class="form-control input-sm m-bot15 tag-app_type env-2">
                                            <option value="frontend_api" selected>前端接口</option>
                                            <option value="backend_svc">后端服务</option>
                                            <option value="middleware">中间件</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"version" : __release_tag__ ,</label>
                                        <input type="text" class="form-control tag-release_tag env-2" id="tag-release_tag-2" value="release_tag" maxlength="20" disabled>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label>标签 - 自定义</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"ctag1"</label>
                                        <label> : __cvalue1__ , </label>
                                        <input type="text" placeholder="自定义标签值1" id="ctag1-2" class="form-control ctag1 env-2" maxlength="20" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"ctag2"</label>
                                        <label> : __cvalue2__ , </label>
                                        <input type="text" placeholder="自定义标签值2" id="ctag2-2" class="form-control ctag2 env-2" maxlength="20" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>"ctag3"</label>
                                        <label> : __cvalue3__ , }</label>
                                        <input type="text" placeholder="自定义标签值3" id="ctag3-2" class="form-control ctag3 env-2" maxlength="20" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <label>标签预览</label>
                                            <textarea class="form-control service_tags env-2" rows="4" id="service_tags-2" maxlength="300" disabled>{ "app": "服务名", "tier": "服务层级", "version": "release_tag" }</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label>Jenkins</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label>Jenkins链接</label>
                                            <input type="text" class="form-control jenkins_url env-2" name="jenkins_url" id="jenkins_url-2" placeholder="Jenkins URL" maxlength="400">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="jenkins_jobname">Jenkins任务名</label>
                                            <input type="text" class="form-control jenkins_jobname env-2" name="jenkins_jobname" id="jenkins_jobname-2" placeholder="Jenkins任务名" maxlength="30" onkeyup="value=value.replace(/[^\-\w\.\/]/ig,'')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="panel">
                        <header class="panel-heading">
                            3 - 部署信息
                        </header>
                        <div class="panel-body">
	                        <div class="col-lg-20">
	                            <div class="position-left">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group service_port">
                                                <label>端口</label>
                                                    <input type="text" class="form-control" id="service_port" placeholder="服务端口" maxlength="5" max="65000">
											    </div>
                                            </div>
										</div>
		                                <div class="row">
				                            <div class="col-lg-6">
				                                <div class="form-group">
                                                    <label>K8S服务模板</label>
				                                    <select class="form-control m-bot15" id="service_template">
                                                        {% for template in template %}
						                                    <option>{{ template }}</option>
                                                        {% endfor %}
			                                        </select>
				                                </div>
				                            </div>
				                            <div class="col-lg-6">
				                                <div class="form-group">
                                                    <label>K8S部署模板</label>
				                                    <select class="form-control m-bot15" id="deployment_template">
                                                        {% for template in template %}
						                                    <option>{{ template }}</option>
                                                        {% endfor %}
			                                        </select>
				                                </div>
				                            </div>
			                            </div>
			                            <div class="row">
				                            <div class="col-lg-6">
				                                <div class="form-group">
                                                    <label>CPU限额</label>
				                                    <select class="form-control m-bot15" id="cpu_limit">
                                                        <option value="200mi">20%</option>
                                                        <option value="400mi">40%</option>
                                                        <option value="600mi">60%</option>
                                                        <option value="800mi">80%</option>
                                                        <option value="BestEffort">最大效能（不推荐使用）</option>
			                                        </select>
				                                </div>
											</div>
				                            <div class="col-lg-6">
				                                <div class="form-group">
                                                    <label>内存限额</label>
				                                    <select class="form-control m-bot15" id="mem_limit">
                                                        <option value="512Mi">512MB</option>
                                                        <option value="1Gi">1G</option>
                                                        <option value="2Gi" selected>2GB</option>
                                                        <option value="4Gi">4GB</option>
						                                <option value="8Gi">8GB</option>
                                                        <option value="16Gi">16GB</option>
                                                        <option value="32Gi">32GB</option>
                                                        <option value="64Gi">64GB</option>
                                                        <option value="BestEffort">最大效能（不推荐使用）</option>
			                                        </select>
				                                </div>
				                            </div>
			                            </div>
			                            <div class="row">
				                            <div class="col-lg-6">
				                                <div class="form-group">
                                                    <label>初始副本数</label>
				                                    <select class="form-control m-bot15" id="init_replica">
						                                <option selected>1</option>
						                                <option>2</option>
			                                        </select>
				                                </div>
				                            </div>
				                            <div class="col-lg-6">
				                                <div class="form-group">
                                                    <label>指定副本数</label>
				                                    <select class="form-control m-bot15" id="desired_replica">
                                                        {% for i in loops %}
						                                    <option>{{ i }}</option>
                                                        {% endfor %}
			                                        </select>
				                                </div>
				                            </div>
			                            </div>
								    </div>
							    </div>
                            </div>
                    </section>
                </div>
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-default" id="submit">提交</button>
            </div>
        </section>
    </section>
{% endblock %}