{% load static %}

<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Intehub</title>
    <!--Core CSS -->
    <link href="{% static 'bs3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui/jquery-ui-1.10.1.custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
    <link href="{% static 'js/data-tables/DT_bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'js/jvector-map/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet">
    <link href="{% static 'css/clndr.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui/jquery-ui-1.10.1.custom.min.js' %}"></script>
    <!--clock css-->
    <link href="{% static 'js/css3clock/css/style.css' %}" rel="stylesheet">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{% static 'js/morris-chart/morris.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet"/>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% block additional_script %} {% endblock %}
</head>

<body>
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">

    <a href="/index.html" class="logo">
        <img src="{% static 'images/logo.jpeg' %}" alt="" height="78" width="237">
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>

<div class="nav notify-row" id="top_menu">
    <ul class="nav top-menu">

    </ul>
</div>

<div class="top-nav clearfix">
    <ul class="nav pull-right top-menu">
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="username">Tony</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <li><a href="/logout"><i class="fa fa-key"></i>Log Out</a></li>
            </ul>
        </li>
    </ul>
</div>

</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
<!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/index.html">
                        <i class="fa fa-dashboard"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/deploy/AppList.html">
                        <i class="fa fa-th"></i>
                        <span>应用管理</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>发布管理</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/deploy/ReleaseTask.html">发布任务</a></li>
                        <li><a href="/my/ReleaseApproval.html">发布审批</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="/cluster/ClusterMgt.html">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>集群管理</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/HelpCenter.html">
                        <i class="fa fa-book"></i>
                        <span>帮助中心</span>
                    </a>
                </li>
            </ul>
        </div>
<!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
{% block mainbody %}

{% endblock %}

<!-- Placed js at the end of the document so the pages load faster -->
<!--Core js-->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui/jquery-ui-1.10.1.custom.min.js' %}"></script>
<script src="{% static 'bs3/js/bootstrap.min.js' %}"></script>
<script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{% static 'js/flot-chart/excanvas.min.js' %}"></script><![endif]-->
<script src="{% static 'js/skycons/skycons.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo/jquery.scrollTo.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static 'js/calendar/clndr.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="{% static 'js/calendar/moment-2.2.1.js' %}"></script>
<script src="{% static 'js/evnt.calendar.init.js' %}"></script>
<script src="{% static 'js/jvector-map/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'js/jvector-map/jquery-jvectormap-us-lcc-en.js' %}"></script>
<script src="{% static 'js/gauge/gauge.js' %}"></script>
<!--clock init-->
<script src="{% static 'js/css3clock/js/css3clock.js' %}"></script>
<!--Easy Pie Chart-->
<script src="{% static 'js/easypiechart/jquery.easypiechart.js' %}"></script>
<!--Sparkline Chart-->
<script src="{% static 'js/sparkline/jquery.sparkline.js' %}"></script>
<!--jQuery Flot Chart-->
<script src="{% static 'js/flot-chart/jquery.flot.js' %}"></script>
<script src="{% static 'js/flot-chart/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'js/flot-chart/jquery.flot.resize.js' %}"></script>
<script src="{% static 'js/flot-chart/jquery.flot.pie.resize.js' %}"></script>
<script src="{% static 'js/flot-chart/jquery.flot.animator.min.js' %}"></script>
<script src="{% static 'js/flot-chart/jquery.flot.growraf.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/jquery.customSelect.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/data-tables/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'js/data-tables/DT_bootstrap.js' %}"></script>

<!--Morris Chart-->
<script src="{% static 'js/morris-chart/morris.js' %}"></script>
<script src="{% static 'js/morris-chart/raphael-min.js' %}"></script>
<script src="{% static 'js/morris.init.js' %}"></script>
<!--common script init for all pages-->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/table-editable.js' %}"></script>
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
<!--script for this page-->
</body>
</html>