{% extends "base.html" %}

{% load static %}

{% load filter %}

{% block additional_script %}
<script type="text/javascript">

</script>
{% endblock %}

{% block mainbody %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12">
                <div class="timeline">
                    <article class="timeline-item alt">
                        <div class="text-right">
                            <div class="time-show first">
                                <a href="#" class="btn btn-primary">构建任务操作时间线</a>
                            </div>
                        </div>
                    </article>
                    {% for timeline in ci_task_timeline %}
                    {% if forloop.counter|divisibleby:2 %}
                        <article class="timeline-item ">
                    {% else %}
                        <article class="timeline-item alt">
                    {% endif %}
                        <div class="timeline-desk">
                            <div class="panel">
                                <div class="panel-body">
                                    <span class="arrow-alt"></span>
                                    <span class="timeline-icon">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="timeline-date">{{ timeline.transact_datetime }}</span>
                                    <h1 class="">{{ timeline.transact_datetime }}</h1>
                                    <p>{{ timeline.transact_msg }} | {{ timeline.operator }}</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% empty %}
                        <article class="timeline-item ">
                            <div class="timeline-desk">
                                <div class="panel">
                                    <div class="panel-body">
                                        <span class="arrow-alt"></span>
                                            <span class="timeline-icon">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            <span class="timeline-date">无数据</span>
                                            <h1 class="">无数据</h1>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    </article>
                </div>
            </div>
        </div>
        </section>
    </section>
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>

{% endblock %}