{% extends "base.html" %}

{% load static %}

{% block mainbody %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
			<div class="row">
				<div class="col-sm-12">
					<section class="panel">
						<header class="panel-heading">
							Services
							<span class="tools pull-right">
								<a href="javascript:;" class="fa fa-chevron-down"></a>
								<a href="javascript:;" class="fa fa-cog"></a>
								<a href="javascript:;" class="fa fa-times"></a>
							 </span>
						</header>
						<div class="panel-body">
							<table class="table table-hover general-table">
								<thead>
									<tr>
										<th>名称</th>
										<th>所属服务</th>
										<th>命名空间</th>
										<th>标签</th>
										<th>创建时间</th>
									</tr>
								</thead>
								<tbody>
								{% for service in aggr_res_deployments %}
									<tr>
										<td>{{ service.name }}</td>
										<td>{{ service.service }}</td>
										<td>{{ service.namespace }}</td>
										<td><span class="label label-primary">{{ service.labels }}</span></td>
										<td>{{ service.time }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<section class="panel">
						<header class="panel-heading">
							Replica Sets
							<span class="tools pull-right">
								<a href="javascript:;" class="fa fa-chevron-down"></a>
								<a href="javascript:;" class="fa fa-cog"></a>
								<a href="javascript:;" class="fa fa-times"></a>
							 </span>
						</header>
						<div class="panel-body">
							<table class="table">
								<thead>
									<tr>
										<th>名称</th>
										<th>所属服务</th>
										<th>命名空间</th>
										<th>Pods</th>
										<th>镜像</th>
										<th>创建时间</th>
									</tr>
								</thead>
								<tbody>
								{% for replicaset in aggr_res_replicasets %}
									<tr>
										<td>{{ replicaset.name }}</td>
										<td>{{ replicaset.service }} </td>
										<td>{{ replicaset.namespace }}</td>
										<td>{{ replicaset.ready_pods }}</td>
										<td>{{ replicaset.images }}</td>
										<td>{{ replicaset.time }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<section class="panel">
						<header class="panel-heading">
							Pods
							<span class="tools pull-right">
								<a href="javascript:;" class="fa fa-chevron-down"></a>
								<a href="javascript:;" class="fa fa-cog"></a>
								<a href="javascript:;" class="fa fa-times"></a>
							 </span>
						</header>
						<div class="panel-body">
							<table class="table">
								<thead>
									<tr>
										<th>名称</th>
										<th>所属服务</th>
										<th>命名空间</th>
										<th>状态</th>
										<th>重启次数</th>
										<th>所在主机</th>
										<th>创建时间</th>
									</tr>
								</thead>
								<tbody>
								{% for pods in aggr_res_pods %}
									<tr>
										<td>{{ pods.name }}</td>
										<td>{{ pods.service }}</td>
										<td>{{ pods.namespace}}</td>
										<td>{{ pods.status }}</td>
										<td>{{ pods.restart_counts }}</td>
										<td>{{ pods.host }}</td>
										<td>{{ pods.time }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</section>
				</div>
			</div>
	    </section>
	</section>
{% endblock %}
					                    