{% extends "base.html" %}

{% load static %}

{% block mainbody %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
			<div class="row">
				<div class="col-sm-12">
					<section class="panel">
						<header class="panel-heading">
							用户指南与文档
							<span class="tools pull-right">
								<a href="javascript:;" class="fa fa-chevron-down"></a>
								<a href="javascript:;" class="fa fa-cog"></a>
								<a href="javascript:;" class="fa fa-times"></a>
							 </span>
						</header>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-3">
									<h4><p class="text-success" href="#">概述</h4>
									<h5><a href="#">使用流程</h5>
									<h5><a href="#">基本概念和术语</h5>

									<h4><p class="text-success">集群管理</p></h4>
									<h5><a href="#">集群创建</h5>
									<h5><a href="#">集群删除</h5>
								</div>
								<div class="col-md-3">
									<h4><p class="text-success">镜像管理</p></h4>
									<h5><a href="#">查看镜像列表</h5>
									<h5><a href="#">创建镜像</h5>

									<h4><p class="text-success">模板管理</p></h4>
										<h5><a href="#">创建编排模板</h5>
										<h5><a href="#">查看编排模板</h5>
										<h5><a href="#">删除编排模板</h5>
								</div>
								<div class="col-sm-3">
									<h4><p class="text-success" href="#">持续集成</h4>
									<h5><a href="#">新建集成任务</h5>
									<h5><a href="#">自动任务</h5>
									<h5><a href="#">非自动任务</h5>

									<h4><p class="text-success" href="#">任务审批</h4>
									<h5><a href="#">邮件审配与审批</h5>
	、                          </div>

								<div class="col-sm-3">
									<h4><p class="text-success" href="#">持续部署</h4>
									<h5><a href="#">灰度部署</h5>
									<h5><a href="#">自动回滚</h5>
									<h5><a href="#">手动回滚</h5>

									<h4><p class="text-success" href="#">蓝绿发布</h4>
									<h5><a href="#">负载均衡蓝绿发布</h5>
									<h5><a href="#">AWS ELB蓝绿发布</h5>
	、                          </div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h4><p class="text-success" href="#">日志和监控</h4>
									<h5><a href="#">容器监控</h5>
									<h5><a href="#">容器日志</h5>
									<h5><a href="#">第三方APM监控</h5>
									<h4><p class="text-success" href="#">账户管理</h4>
									<h5><a href="#">访问控制</h5>
									<h5><a href="#">环境控制</h5>
								</div>
								<div class="col-sm-3">
									<h4><p class="text-success" href="#">蓝绿发布</h4>
									<h5><a href="#">负载均衡蓝绿发布</h5>
									<h5><a href="#">AWS ELB蓝绿发布</h5>

									<h4><p class="text-success" href="#">服务发现</h4>
									<h5><a href="#">服务发现场景</h5>
									<h5><a href="#">容器场景</h5>
									<h5><a href="#">宿主机发现</h5>
									<h5><a href="#">部署与负载均衡</h5>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
        </section>
    </section>
    <!--main content end-->
{% endblock %}