{% extends "base.html" %}

{% load static %}

{% block mainbody %}

<!--main content start-->
	<section id="main-content">
		<section class="wrapper">
<!--mini statistics start-->
			<div class="row">
			    <div class="col-md-2">
			        <section class="panel">
					    <div class="panel-body">
					        <div class="top-stats-panel">
					            <h4 class="widget-h">项目总数</h4>
					            <div class="bar-stats">
					                <ul class="progress-stat-bar clearfix">
										{% for namespace in services_envs %}
					                    	<li data-percent="70%"><span class="progress-stat-percent yellow-b"></span>{{ namespace.env_count }}</li>
										{% endfor %}
					                </ul>
					                <ul class="bar-legend">
										{% for namespace in services_envs %}
					                    	<li><span class="bar-legend-pointer green"></span>{{ namespace.namespace }}</li>
										{% endfor %}
					                </ul>
					                <div class="daily-sales-info">
					                    <span class="sales-label">已接入应用数量：</span> <span class="sales-count">{{ services_count }}</span>
					                </div>
					            </div>
					        </div>
					    </div>
					</section>
			    </div>
				<div class="col-md-2">
					<section class="panel">
					    <div class="panel-body">
					       	<div class="top-stats-panel">
								<div class="gcanvas">
					        		<h4 class="widget-h">总体发布</h4>
									<span class="epie-chart" data-percent="{% widthratio successful_release total_release 100 %}">
										<span class="percent">{% widthratio successful_release total_release 100 %}</span>
									<canvas height="80" width="80"></canvas></span>
								</div>
							    <ul class="gauge-meta clearfix">
								    <br>
							        <li class="pull-right gauge-title">成功率</li>
								</ul>
						    
							</div>
					    </div>
					</section>
				</div>				
				<div class="col-md-2">
                   <section class="panel">
			            <div class="panel-body">
			                <div class="top-stats-panel">
			                    <div class="daily-visit">
			                        <h4 class="widget-h">平均发布时间</h4>
			                        <div id="daily-visit-chart" style="width:100%; height: 100px; display: block">
			
			                        </div>
			                        <ul class="chart-meta clearfix">
			                            <li class="pull-left visit-chart-value">20</li>
			                            <li class="pull-right visit-chart-title"><i class="fa fa-arrow-up"></i> 15%</li>
			                        </ul>
			                    </div>
			                </div>
			            </div>
					</section>
				</div>
			    
			    <div class="col-md-2">
			        <section class="panel">
			            <div class="panel-body">
							<div class="top-stats-panel">
							    <div class="gauge-canvas">
							        <h4 class="widget-h">容器数</h4>
							        <canvas width=160 height=100 id="gauge1"></canvas>
							    </div>
							    <ul class="gauge-meta clearfix">
							        <li id="gauge-textfield" class="pull-left gauge-value"></li>
							        <li class="pull-right gauge-title">容器</li>
							    </ul>
							</div>
						</div>			       
					</section>
			    </div>
			    <div class="col-md-2">
			        <section class="panel">
					    <div class="panel-body">
					        <div class="top-stats-panel">
					            <h4 class="widget-h">主机数</h4>
					            <div class="bar-stats">
					                <ul class="progress-stat-bar clearfix">
					                    <li data-percent="50%"><span class="progress-stat-percent pink"></span></li>
					                    <li data-percent="90%"><span class="progress-stat-percent"></span></li>
					                    <li data-percent="70%"><span class="progress-stat-percent yellow-b"></span></li>
					                </ul>
					                <ul class="bar-legend">
					                    <li><span class="bar-legend-pointer pink"></span> Dev</li>
					                    <li><span class="bar-legend-pointer green"></span> Stage</li>
					                    <li><span class="bar-legend-pointer yellow-b"></span> Production</li>
					                </ul>
					                <div class="daily-sales-info">
					                    <span class="sales-count">79 </span> <span class="sales-label">Projects Created</span>
					                </div>
					            </div>
					        </div>
					    </div>
					</section>
			    </div>
			    <div class="col-md-2">
			        <section class="panel">
			            <div class="panel-body">
							<div class="top-stats-panel">
							    <div class="gauge-canvas" id="1">
							        <h4 class="widget-h">系统负载</h4>
							        <canvas width=160 height=100 id="gauge"></canvas>
							    </div>
							    <ul class="gauge-meta clearfix">
							        <li id="gauge-textfield" class="pull-left gauge-value">35%</li>
							        <li class="pull-right gauge-title">使用资源</li>
							    </ul>
							</div>
						</div>			       
					</section>
			    </div>
			</div>
<!--mini statistics end-->

<!--detailed table inserted here-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                        任务列表
	                        <span class="tools pull-right">
	                           <a href="javascript:;" class="fa fa-chevron-down"></a>
			                        <a href="javascript:;" class="fa fa-cog"></a>
			                        <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                        </header>
                        <div class="panel-body">
					        <table class="table  table-hover general-table">
					        <thead>
					        <tr>
					            <th> 任务名称	</th>
					            <th> 描述 </th>
					            <th> 项目 </th>
					            <th> 当前状态 </th>
					            <th> 完成百分比 </th>
					         </tr>
					        </thead>
					        <tbody>
					            <tr>
					            <td><a href="#">cookie-mapping-12daasjd2</a></td>
					            <td>部分支持spark分析</td>
					            <td>cookie-mapping</td>
					            <td><span class="label label-success label-mini">代码提交</span></td>
					            <td>
					                <div class="progress progress-striped progress-xs">
					                    <div style="width: 10%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
					                        <span class="sr-only">20% Complete (success)</span>
					                    </div>
					               </div>
					            </td>
					        </tr>
					            <tr>
					            <td>
					               <a href="#">
					               adviva-api-123msdjd
					               </a>
					            </td>
					            <td class="hidden-phone">api接口后端调用redis集群模式支持</td>
					            <td>adviva-api </td>
					            <td><span class="label label-danger label-mini">任务回滚</span></td>
					            <td>
					               <div class="progress progress-striped progress-xs">
					                  <div style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-danger">
					                     <span class="sr-only">60% Complete (success)</span>
					                  </div>
					               </div>
					            </td>
					         </tr>
					            <tr>
					            <td>
					               <a href="#">
					               adviva-api-132masdh
					               </a>
					            </td>
					            <td class="hidden-phone">解决api接口后端数据库调用超时问题</td>
					            <td> adviva-api </td>
					            <td><span class="label label-warning label-mini">提交审批</span></td>
					            <td>
					               <div class="progress progress-striped progress-xs">
					                  <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-primary">
					                     <span class="sr-only">55% Complete (success)</span>
					                  </div>
					               </div>
					            </td>
					         </tr>
					            <tr>
					            <td>
					               <a href="#">
					               user-interface-113jdadu
					               </a>
					            </td>
					            <td class="hidden-phone">用户接口独立数据库支持，完成微服务拆分</td>
					            <td>user-interface </td>
					            <td><span class="label label-default label-mini">灰度测试</span></td>
					            <td>
					               <div class="progress progress-striped progress-xs">
					                  <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-default">
					                     <span class="sr-only">90% Complete (success)</span>
					                  </div>
					               </div>
					            </td>
					         </tr>
					            <tr>
					            <td><a href="#">php-fpm-1m23daj2</a></td>
					            <td class="hidden-phone">对超时请求新增日志输出</td>
					            <td>php-fpm </td>
					            <td><span class="label label-primary label-mini">线上阶段</span></td>
					            <td>
					               <div class="progress progress-striped progress-xs">
					                  <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-primary">
					                     <span class="sr-only">100% Complete (success)</span>
					                  </div>
					               </div>
					            </td>
					         </tr>
					            <tr>
					            <td>
					               <a href="#">
					               nginx-static-1nnfada0
					               </a>
					            </td>
					            <td class="hidden-phone">配置文件更新，支持URL匹配转发，简化架构</td>
					            <td>nginx-static </td>
					            <td><span class="label label-warning label-mini">提交审批</span></td>
					            <td>
					               <div class="progress progress-striped progress-xs">
					                  <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-primary">
					                     <span class="sr-only">40% Complete (success)</span>
					                  </div>
					               </div>
					            </td>
					         </tr>
					            <tr>
					            <td><a href="#">adviva-api-1jahd11d</a></td>
					            <td class="hidden-phone">接口性能优化，写入MongoDB</td>
					            <td>adviva-api </td>
					            <td><span class="label label-info label-mini">编译集成</span></td>
					            <td>
					               <div class="progress progress-striped progress-xs">
					                  <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
					                     <span class="sr-only">40% Complete (success)</span>
					                  </div>
					               </div>
					            </td>
					         </tr>
					            <tr>
					            <td>
					               <a href="#">
					               adviva-api-21kdnaa1
					               </a>
					            </td>
					            <td class="hidden-phone">写入性能优化</td>
					            <td>adviva-api </td>
					            <td><span class="label label-info label-mini">编译集成</span></td>
					            <td>
					               <div class="progress progress-striped progress-xs">
					                  <div style="width: 70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
					                     <span class="sr-only">70% Complete (success)</span>
					                  </div>
					               </div>
					            </td>
					         </tr>
					            <tr>
					            <td>
					               <a href="#">
					               user-registration-ambds0a21
					               </a>
					            </td>
					            <td class="hidden-phone">用户注册 - 微信注册支持</td>
					            <td>user-registration </td>
					            <td><span class="label label-success label-mini">单元测试</span></td>
					            <td>
					               <div class="progress progress-striped progress-xs">
					                  <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
					                     <span class="sr-only">55% Complete (success)</span>
					                  </div>
					               </div>
					            </td>
					         </tr>
					            <tr>
					            <td>
					               <a href="#">ad-publish-ajdsbz71</a></td>
					            <td class="hidden-phone">匀速投放试验</td>
					            <td>ad-publish </td>
					            <td><span class="label label-danger label-mini">任务回滚</span></td>
					            <td>
					               <div class="progress progress-striped progress-xs">
					                  <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-danger">
					                     <span class="sr-only">90% Complete (success)</span>
					                  </div>
					               </div>
					            </td>
					         </tr>
					            <tr>
					            <td><a href="#">kafka-interface-a688da1m</a></td>
					            <td class="hidden-phone">kafka接口更新，检查接口响应速度</td>
					            <td>kafka-interface </td>
					            <td><span class="label label-primary label-mini">编译集成</span></td>
					            <td>
					               <div class="progress progress-striped progress-xs">
					                  <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
					                     <span class="sr-only">60% Complete (success)</span>
					                  </div>
					               </div>
					            </td>
					         </tr>
					            <tr>
					            <td>
					               <a href="#">
					               3rdparty-api-2a3qdda5f
					               </a>
					            </td>
					            <td class="hidden-phone">新增第三方接入API种类 - 权限分配</td>
					            <td>3rdparty-api </td>
					            <td><span class="label label-warning label-mini">提交审批</span></td>
					            <td>
					               <div class="progress progress-striped progress-xs">
					                  <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-primary">
					                     <span class="sr-only">40% Complete (success)</span>
					                  </div>
					               </div>
					            </td>
					         </tr>
					        </tbody>
					    </table>
					    </div>
                        <div class="row-fluid">
                        <div class="span6">
                            <div class="dataTables_info" id="dynamic-table_info">Showing 51 to 57 of 57 entries</div>
                        </div>
                                
                        <div class="span6">
                                    <div class="dataTables_paginate paging_bootstrap pagination">
                                        <ul>
	                                        <li class="prev"><a href="#">← Previous</a></li>
	                                        <li><a href="#">2</a></li>
	                                        <li><a href="#">3</a></li>
	                                        <li><a href="#">4</a></li>
	                                        <li><a href="#">5</a></li>
	                                        <li class="active"><a href="#">6</a></li>
	                                        <li class="next disabled"><a href="#">Next → </a></li>
	                                    </ul>
	                                </div>
						</div>
		    	    	</div>
                    </section>
                </div>
            </div>
<!--detailed table end-->

<!--mini statistics starts-->
			<div class="row-fluid">
			    <div class="col-sm-6">
						<section class="panel">
								<header class="panel-heading">
					                            近一周部署情况
									<span class="tools pull-right">
										<a href="javascript:;" class="fa fa-chevron-down"></a>
										<a href="javascript:;" class="fa fa-cog"></a>
										<a href="javascript:;" class="fa fa-times"></a>
									</span>
								</header>
								<div class="panel-body">
									<div id="graph-area-line" style="position: relative;">
										<svg height="342" version="1.1" width="562"
											xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
											<desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc>
											<defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
											<text x="19.171875" y="308" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
											</text>
											<path fill="none" stroke="#aaaaaa" d="M31.671875,308H537" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
											<text x="19.171875" y="237.25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2</tspan>
											</text>
											<path fill="none" stroke="#aaaaaa" d="M31.671875,237.25H537" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
											<text x="19.171875" y="166.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">4</tspan>
											</text>
											<path fill="none" stroke="#aaaaaa" d="M31.671875,166.5H537" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
											<text x="19.171875" y="95.75" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">6</tspan>
											</text>
											<path fill="none" stroke="#aaaaaa" d="M31.671875,95.75H537" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
											<text x="19.171875" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">8</tspan>
											</text>
											<path fill="none" stroke="#aaaaaa" d="M31.671875,25H537" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
											<text x="537" y="320.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">12-03</tspan>
											</text>
											<text x="454.15932377049177" y="320.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">12-04</tspan>
											</text>
											<text x="369.93796960382514" y="320.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">12-05</tspan>
											</text>
											<text x="285.71661543715845" y="320.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">12-06</tspan>
											</text>
											<text x="200.11458333333334" y="320.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">12-07</tspan>
											</text>
											<text x="115.89322916666667" y="320.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">12-08</tspan>
											</text>
											<text x="31.671875" y="320.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
												<tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">12-09</tspan>
											</text>
											
											<path fill="#bce0df" stroke="#000000" d="M31.671875,95.75C63.42746755464481,122.28125,126.93865266393442,201.875,158.69424521857923,201.875C190.44983777322403,201.875,253.96102288251365,109.08811475409836,285.71661543715845,95.75C317.12703850751365,82.55686475409836,379.94788464822403,100.171875,411.3583077185792,95.75C442.7687307889344,91.328125,505.5895769296448,69.21875,537,60.375L537,308L31.671875,308Z" fill-opacity="1" stroke-width="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
											<path fill="none" stroke="#79d1cf" d="M31.671875,95.75C63.42746755464481,122.28125,126.93865266393442,201.875,158.69424521857923,201.875C190.44983777322403,201.875,253.96102288251365,109.08811475409836,285.71661543715845,95.75C317.12703850751365,82.55686475409836,379.94788464822403,100.171875,411.3583077185792,95.75C442.7687307889344,91.328125,505.5895769296448,69.21875,537,60.375" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
											<circle cx="31.671875" cy="95.75" r="4" fill="#79d1cf" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
											<circle cx="158.69424521857923" cy="201.875" r="4" fill="#79d1cf" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
											<circle cx="285.71661543715845" cy="95.75" r="4" fill="#79d1cf" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
											<circle cx="411.3583077185792" cy="95.75" r="7" fill="#79d1cf" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
											<circle cx="537" cy="60.375" r="4" fill="#79d1cf" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
											<path fill="#edc8c7" stroke="#000000" d="M31.671875,201.875C63.42746755464481,210.71875,126.93865266393442,232.828125,158.69424521857923,237.25C190.44983777322403,241.671875,253.96102288251365,241.69603825136613,285.71661543715845,237.25C317.12703850751365,232.85228825136613,379.94788464822403,206.296875,411.3583077185792,201.875C442.7687307889344,197.453125,505.5895769296448,201.875,537,201.875L537,308L31.671875,308Z" fill-opacity="1" stroke-width="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
											<path fill="none" stroke="#e67a77" d="M31.671875,201.875C63.42746755464481,210.71875,126.93865266393442,232.828125,158.69424521857923,237.25C190.44983777322403,241.671875,253.96102288251365,241.69603825136613,285.71661543715845,237.25C317.12703850751365,232.85228825136613,379.94788464822403,206.296875,411.3583077185792,201.875C442.7687307889344,197.453125,505.5895769296448,201.875,537,201.875" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
											<circle cx="31.671875" cy="201.875" r="4" fill="#e67a77" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
											<circle cx="158.69424521857923" cy="237.25" r="4" fill="#e67a77" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
											<circle cx="285.71661543715845" cy="237.25" r="4" fill="#e67a77" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
											<circle cx="411.3583077185792" cy="201.875" r="7" fill="#e67a77" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
											<circle cx="537" cy="201.875" r="4" fill="#e67a77" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
										</svg>
										<div class="morris-hover morris-default-style" style="left: 380.858px; top: 116px;">
											<div class="morris-hover-row-label">2016 Q4</div>
											<div class="morris-hover-point" style="color: #E67A77">
					  Y:
					  3
					</div>
											<div class="morris-hover-point" style="color: #79D1CF">
					  Z:
					  3
					</div>
										</div>
									</div>
								</div>
					    </section>
				</div>
				<div class="col-sm-6">
						<section class="panel">
									<header class="panel-heading">
							                            发布时间占比
							            <span class="tools pull-right">
											<a href="javascript:;" class="fa fa-chevron-down"></a>
											<a href="javascript:;" class="fa fa-cog"></a>
											<a href="javascript:;" class="fa fa-times"></a>
										</span>
									</header>
									<div class="panel-body">
										<div id="graph-donut">
											<svg height="342" version="1.1" width="517"
												xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
												<desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc>
												<defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
												
												<path fill="none" stroke="#e67a77" d="M258.5,282.5A109,109,0,1,0,157.97527174473376,131.3600070099095" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
												
												<path fill="#e67a77" stroke="#ffffff" d="M258.5,285.5A112,112,0,1,0,155.20853610468055,130.20019068908132L107.71290761710063,110.29001051486425A163.5,163.5,0,1,1,258.5,337Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
												
												<path fill="none" stroke="#d9dd81" d="M157.97527174473376,131.3600070099095A109,109,0,0,0,166.3717004200618,231.75269449998996" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
												
												<path fill="#d9dd81" stroke="#ffffff" d="M155.20853610468055,130.20019068908132A112,112,0,0,0,163.83605914721946,233.35597966971443L124.53361941816325,258.2068998004441A158.5,158.5,0,0,1,112.32413368385596,112.22303771624455Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
												
												<path fill="none" stroke="#79d1cf" d="M166.3717004200618,231.75269449998996A109,109,0,0,0,221.00590526305962,275.8483896300149" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
												
												<path fill="#79d1cf" stroke="#ffffff" d="M163.83605914721946,233.35597966971443A112,112,0,0,0,219.97395770149245,278.66531778496943L203.97877049720137,322.3277041867648A158.5,158.5,0,0,1,124.53361941816325,258.2068998004441Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
												<path fill="none" stroke="#95d7bb" d="M221.00590526305962,275.8483896300149A109,109,0,0,0,258.46575664063937,282.49999462106564" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
												<path fill="#95d7bb" stroke="#ffffff" d="M219.97395770149245,278.66531778496943A112,112,0,0,0,258.4648141628588,285.4999944730216L258.45020575726,331.9999921783386A158.5,158.5,0,0,1,203.97877049720137,322.3277041867648Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
												
												<text x="258.5" y="163.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#1fb5ac" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: 800; font-stretch: normal; font-size: 10px; line-height: normal; font-family: Arial;" font-size="10px" font-weight="800" transform="matrix(3.1961,0,0,3.1961,-567.652,-377.7255)" stroke-width="0.31288343558282206">
													<tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">adviva-api</tspan>
												</text>
												
												<text x="258.5" y="183.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#1fb5ac" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 8px; line-height: normal; font-family: Arial;" font-size="8px" transform="matrix(2.2639,0,0,2.2639,-326.7054,-221.8125)" stroke-width="0.44171779141104295">
													<tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">at least 70%</tspan>
												</text>
											</svg>
										</div>
									</div>
								</section>
				    </div>
			</div>

<!--mini statistics ends-->
<!--main content end-->
<!--right sidebar end-->
		</section>
	</section>
</section>

{% endblock %}