{% extends "base.html" %}

{% load static %}

{% load filter %}

{% block additional_script %}
<script type="text/javascript">
    $(document).ready(function(){

        $(".po_approve").click(function() {
            var po_approve_bt_id = $(this).attr('id');
            var task_id = $('#' + po_approve_bt_id).val();
            alert(task_id);

            post_data = {
               "ci_task_id": task_id,
            };

            setTimeout(function() {
            $.ajax({
                url: '/build/request/approve',
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: 'json',
                success: function(res){
                    var msg = res['msg']
                    $('#' + po_approve_bt_id).tooltip({title: msg})
                    $('#' + po_approve_bt_id).tooltip('show')
                    $('#' + po_approve_bt_id).on('hidden.bs.tooltip', function(){
                        location.reload(true);
                    })
                }
                });
            }, 2000);

            $('#' + po_approve_bt_id).html('<img src="{% static 'images/loading.gif' %}"/>');
        });

        $(".qa_approve").click(function() {
            var qa_approve_bt_id = $(this).attr('id');
            var task_id = $('#' + qa_approve_bt_id).val();
            alert(task_id);

            post_data = {
               "ci_task_id": task_id,
            };

            setTimeout(function() {
            $.ajax({
                url: '/build/qa/approve',
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: 'json',
                success: function(res){
                    var msg = res['msg']
                    $('#' + qa_approve_bt_id).tooltip({title: msg})
                    $('#' + qa_approve_bt_id).tooltip('show')
                    $('#' + qa_approve_bt_id).on('hidden.bs.tooltip', function(){
                        location.reload(true);
                    })
                }
                });
            }, 2000);

            $('#' + qa_approve_bt_id).html('<img src="{% static 'images/loading.gif' %}"/>');
        });

        $(".po_refuse").click(function() {
            var po_refuse_bt_id = $(this).attr('id');
            var task_id = $('#' + po_refuse_bt_id).val();
            alert(task_id);

            post_data = {
               "ci_task_id": task_id,
            };

            setTimeout(function() {
            $.ajax({
                url: '/build/request/refuse',
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: 'json',
                success: function(res){
                    var msg = res['msg']
                    $('#' + po_refuse_bt_id).tooltip({title: msg})
                    $('#' + po_refuse_bt_id).tooltip('show')
                    $('#' + po_refuse_bt_id).on('hidden.bs.tooltip', function(){
                        location.reload(true);
                    })
                }
                });
            }, 2000);

            $('#' + po_refuse_bt_id).html('<img src="{% static 'images/loading.gif' %}"/>');
        });

        $(".qa_refuse").click(function() {
            var qa_refuse_bt_id = $(this).attr('id');
            var task_id = $('#' + qa_refuse_bt_id).val();
            alert(task_id);

            post_data = {
               "ci_task_id": task_id,
            };

            setTimeout(function() {
            $.ajax({
                url: '/build/qa/refuse',
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: 'json',
                success: function(res){
                    var msg = res['msg']
                    $('#' + qa_refuse_bt_id).tooltip({title: msg})
                    $('#' + qa_refuse_bt_id).tooltip('show')
                    $('#' + qa_refuse_bt_id).on('hidden.bs.tooltip', function(){
                        location.reload(true);
                    })
                }
                });
            }, 2000);

            $('#' + qa_refuse_bt_id).html('<img src="{% static 'images/loading.gif' %}"/>');
        });

    });
</script>
{% endblock %}

{% block mainbody %}
<section id="main-content">
        <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        审批任务列表
                    </header>
                    <div class="panel-body">
                        <div class="adv-table editable-table">
                            <div class="space15"></div>
                            <table class="display table table-striped table-hover" id="EditableTable">
                                <thead>
                                <tr>
                                    <th>应用名</th>
                                    <th>环境</th>
                                    <th>发布版本</th>
                                    <th>回滚版本</th>
                                    <th>审批类别</th>
                                    <th>申请时间</th>
                                    <th>处理时间</th>
                                    <th colspan="2">操作</th>
                                    <th>审批状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for approval_list in approval_list %}
                                <tr class="">
                                    <td>{{ approval_list.task.service.service_name }}</td>
                                    <td>{{ approval_list.task.service.namespace }}</td>
                                    <td>{{ approval_list.task.release_tag }}</td>
                                    <td>{{ approval_list.task.rollback_tag }}</td>
                                    <td>{{ approval_list.approval_type }}</td>
                                    <td>{{ approval_list.createtime }}</td>
                                    <td>{{ approval_list.processtime }}</td>
                                    {% if approval_list.approval_type == 'CI-Start' %}
                                        {% if approval_list.task.po_approved == 0 %}
                                            <td><button type="button" class="btn btn-default btn-sm po_approve" id="po_approve-{{ approval_list.task_id }}" value="{{ approval_list.task_id }}">同意</button></td>
                                            <td><button type="button" class="btn btn-default btn-sm po_refuse" id="po_refuse-{{ approval_list.task_id }}" value="{{ approval_list.task_id }}">拒绝</button></td>
                                            <td><button type="button" class="btn btn-default btn-sm">未审批</button></td>
                                        {% elif approval_list.task.po_approved == 1 %}
                                            <td colspan="2"><button type="button" class="btn btn-default btn-sm">已操作</button></td>
                                            <td><button type="button" class="btn btn-success btn-sm">同意发布</button></td>
                                        {% elif approval_list.task.po_approved == 2 %}
                                            <td colspan="2"><button type="button" class="btn btn-default btn-sm">已操作</button></td>
                                            <td><button type="button" class="btn btn-warning btn-sm">拒绝发布</button></td>
                                        {% endif %}
                                    {% elif approval_list.approval_type == 'QA-Start' %}
                                        {% if approval_list.task.qa_approved == 0 %}
                                            <td><button type="button" class="btn btn-default btn-sm qa_approve" id="qa_approve-{{ approval_list.task_id }}" value="{{ approval_list.task_id }}">同意</button></td>
                                            <td><button type="button" class="btn btn-default btn-sm qa_refuse" id="qa_refuse-{{ approval_list.task_id }}" value="{{ approval_list.task_id }}">拒绝</button></td>
                                            <td><button type="button" class="btn btn-default btn-sm">未审批</button></td>
                                        {% elif approval_list.task.qa_approved == 1 %}
                                            <td colspan="2"><button type="button" class="btn btn-default btn-sm">已操作</button></td>
                                            <td><button type="button" class="btn btn-success btn-sm">同意上线</button></td>
                                        {% elif approval_list.task.qa_approved == 2 %}
                                            <td colspan="2"><button type="button" class="btn btn-default btn-sm">已操作</button></td>
                                            <td><button type="button" class="btn btn-warning btn-sm">拒绝上线</button></td>
                                        {% endif %}
                                    {% endif %}
                                    {% empty %}
                                        <td align="center" colspan="6">当前无审批任务</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        </section>
    </section>

{% endblock %}