{% extends "base.html" %}

{% load static %}

{% load filter %}

{% block additional_script %}
<script type="text/javascript">

    $(document).ready(function(){

        $(".ci").click(function() {
            var ci_bt_id = $(this).attr('id');
            var task_id = $('#' + ci_bt_id).val();
            // alert(task_id);

            post_data = {
               "build_task_id": task_id,
            };

            setTimeout(function() {
            $.ajax({
                url: '/build/execute',
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: 'json',
                success: function(res){
                    var msg = res['msg']
                    $('#' + ci_bt_id).tooltip({title: msg})
                    $('#' + ci_bt_id).tooltip('show')
                    $('#' + ci_bt_id).on('hidden.bs.tooltip', function(){
                        location.reload(true);
                    })
                }
                });
            }, 2000);

            $('#' + ci_bt_id).html('<img src="{% static 'images/loading.gif' %}"/>');
        });

        $(".ir").click(function() {
            var ir_bt_id = $(this).attr('id');
            var task_id = $('#' + ir_bt_id).val();
            // alert(task_id);

            post_data = {
               "deploy_task_id": task_id,
            };

            setTimeout(function() {
            $.ajax({
                url: '/deploy/tasks/rr-p1/',
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: 'json',
                success: function(res){
                    var msg = res['msg']
                    $('#' + ir_bt_id).tooltip({title: msg})
                    $('#' + ir_bt_id).tooltip('show')
                    $('#' + ir_bt_id).on('hidden.bs.tooltip', function(){
                        location.reload(true);
                    })
                }
                });
            }, 2000);

            $('#' + ir_bt_id).html('<img src="{% static 'images/loading.gif' %}"/>');
        });

        $(".fr").click(function() {
            var fr_bt_id = $(this).attr('id');
            var task_id = $('#' + fr_bt_id).val();
            // alert(task_id);

            post_data = {
               "deploy_task_id": task_id,
            };

            setTimeout(function() {
            $.ajax({
                url: '/deploy/tasks/rr-p2/',
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: 'json',
                success: function(res){
                    var msg = res['msg']
                    $('#' + fr_bt_id).tooltip({title: msg})
                    $('#' + fr_bt_id).tooltip('show')
                    $('#' + fr_bt_id).on('hidden.bs.tooltip', function(){
                        location.reload(true);
                    })
                }
                });
            }, 2000);

            $('#' + fr_bt_id).html('<img src="{% static 'images/loading.gif' %}"/>');
        });

        $(".rb").click(function() {
            var rb_bt_id = $(this).attr('id');
            var task_id = $('#' + rb_bt_id).val();
            // alert(task_id);

            post_data = {
               "deploy_task_id": task_id,
            };

            setTimeout(function() {
            $.ajax({
                url: '/deploy/tasks/rb/',
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: 'json',
                success: function(res){
                    var msg = res['msg']
                    $('#' + rb_bt_id).tooltip({title: msg})
                    $('#' + rb_bt_id).tooltip('show')
                    $('#' + rb_bt_id).on('hidden.bs.tooltip', function(){
                        location.reload(true);
                    })
                }
                });
            }, 2000);

            $('#' + rb_bt_id).html('<img src="{% static 'images/loading.gif' %}"/>');
        });

        $(".ack").click(function() {
            var ack_bt_id = $(this).attr('id');
            var task_id = $('#' + ack_bt_id).val();

            post_data = {
               "deploy_task_id": task_id,
            };

            setTimeout(function() {
            $.ajax({
                url: '/deploy/tasks/ack/',
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: 'json',
                success: function(res){
                    var msg = res['msg']
                    $('#' + ack_bt_id).tooltip({title: msg})
                    $('#' + ack_bt_id).tooltip('show')
                    $('#' + ack_bt_id).on('hidden.bs.tooltip', function(){
                        location.reload(true);
                    })
                }
                });
            }, 2000);

            $('#' + ack_bt_id).html('<img src="{% static 'images/loading.gif' %}"/>');
        });

        $('#request_release_btn').click(function(){
            var service_id = $('#env_list').val();
            var rollback_tag = $('#rollback_tag_list').val();
            post_data = {"service_id": service_id, "rollback_tag": rollback_tag}
            $.ajax({
                url: '/build/request',
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: 'json',
                success: function(res){
                    var msg = res['msg']
                    var is_success = res['success']
                    if (is_success == 'true') {
                        $('#request_release_btn').tooltip({title: msg})
                        $('#request_release_btn').tooltip('show')
                        location.reload();
                        $('.release_request_dialog').modal('hide');
                    } else {
                        $('#request_release_btn').tooltip({title: msg})
                        $('#request_release_btn').tooltip('show')
                    }
                }
            });
        });

        $('#service_list').change(function(){
            $('#env_list').html($('<option selected>' + "请选择" + '</option>'));
            $('#rollback_tag_list').empty();
            selected_service = $('#service_list').val();
            // alert (selected_service);
            var env_data = jQuery.parseJSON('{{ci_service_envs|safe}}');
            for (i in env_data[selected_service]) {
                for (j in env_data[selected_service][i]) {
                    $('#env_list').append($('<option value="' + j + '">' + env_data[selected_service][i][j] + '</option>'))
                }
            }
        });

        $('#env_list').change(function(){
            $('#rollback_tag_list').empty();
            selected_env =  $('#env_list').val();
            // alert (selected_env);
            var ci_services_data = jQuery.parseJSON('{{ci_services_json|safe}}');
            var ci_tasks_data = jQuery.parseJSON('{{ci_tasks_json|safe}}');

            // fill the select option - "service_po"
            $.each(ci_services_data, function(i, v) {
                if (v.id == selected_env) {
                    // alert(v.service_po);
                    $('#approver_list').empty();
                    $('#approver_list').append($('<option value="' + v.service_po + '">' + v.service_po + '</option>'))
                    return;
                }
            });
            for (i in ci_tasks_data[selected_env]) {
                $('#rollback_tag_list').append($('<option value="' + ci_tasks_data[selected_env][i]['release_tag'] + '">' + ci_tasks_data[selected_env][i]['release_tag'] + '</option>'))
            }
        });

    });
</script>

{% endblock %}

{% block mainbody %}
    {% spaceless %}
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        应用环境选择
                                    </header>
                                        <!-- 弹出框html -->
                                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="release_request_dialog" class="modal fade release_request_dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                        <h4 class="modal-title">服务发布申请</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="form-horizontal " role="form">
                                                            <div class="form-group ">
                                                                <label class="control-label col-lg-2">应用名称</label>
                                                                <div class="col-lg-7">
                                                                    <select id="service_list" class="form-control input-sm m-bot10 col-md-5 tag-app_type env">
                                                                    {% for service_name in ci_service_names %}
                                                                        <option value="{{ service_name }}">{{ service_name }}</option>
                                                                    {% endfor %}
                                                                         <option selected>请选择</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <label class="control-label col-lg-2">环境选择</label>
                                                                <div class="col-lg-7">
                                                                    <select id="env_list" class="form-control input-sm m-bot10 col-md-5 tag-app_type env">
                                                                        <option selected>请选择</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <label class="control-label col-lg-2">审批人员</label>
                                                                <div class="col-lg-7">
                                                                    <select id="approver_list" class="form-control input-sm m-bot10 col-md-5 tag-app_type env">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <label class="control-label col-lg-2">回滚版本</label>
                                                                <div class="col-lg-7">
                                                                    <select id="rollback_tag_list" class="form-control input-sm m-bot10 col-md-5 tag-app_type env">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="form-group">
                                                                    <div class="col-lg-offset-2 col-lg-10 ">
                                                                        <button id="request_release_btn" type="button" class="btn btn-default">提交</button>
                                                                        <button id="cancel_release_btn" data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="panel-body">
                                        <a href="#release_request_dialog" data-toggle="modal" class="btn btn-default">
                                            服务发布申请
                                        </a>
                                            <div class="m-bot-1 col-sm-2 pull-right">
                                                <select id="tag-app_type" class="form-control input-sm-2 m-bot-1 tag-app_type env">
                                                    <option value="frontend_api" selected>前端接口</option>
                                                    <option value="backend_svc">后端服务</option>
                                                    <option value="middleware">中间件</option>
                                                </select>
                                            </div>
                                        <div class="input-group m-bot-1 col-sm-3 pull-right">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">应用名 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">应用名</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </div>
                                            <input type="text" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">搜索</button>
                                            </span>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            {% for service in ci_services %}
            <div class="row">
                <div class="col-sm-12">
                    <header class="panel-heading">
                        构建任务 - SID: {{ service.id }} {{ service.service_name }} #{{ service.namespace }}（仅显示最近10个任务）
                        <span class="tools pull-right col-sm-6">
                            部署任务
                        </span>
                    </header>
                    <div class="row">
                        <div class="col-sm-6">
                            <section class="panel">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>发布版本号</th>
                                            <th>回滚版本号</th>
                                            <th>产品审批人</th>
                                            <th>审批结果</th>
                                            <th>操作</th>
                                            <th>构建状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for v in ci_tasks|keyvalue:service.id %}
                                        <tr>
                                            <td>{{ v.id }}</td>
                                            <td>{{ v.release_tag }}</td>
                                            <td>{{ v.rollback_tag }}</td>
                                            <td>{{ v.service.service_po }}</td>
                                            {% if v.po_approved == 1 %}
                                                <td>已审批</td>
                                            {% elif v.po_approved == 0 %}
                                                <td>未审批</td>
                                            {% elif v.po_approved == 2 %}
                                                <td>未通过审批</td>
                                            {% endif %}
                                            {% if v.status == 0 %}
                                                <td><button type="button" class="btn btn-default btn-sm ci" id="ci-{{ v.id }}" value="{{ v.id }}">开始构建</button></td>
                                                <td><button type="button" class="btn btn-default btn-sm ci-timeline" id="ci-timeline-{{ v.id }}" value="{{ v.id }}">尚未构建</button></td>
                                            {% elif v.status == 1 %}
                                                <td><button type="button" class="btn btn-default btn-sm">N / A</button></td>
                                                <form action="/build/task/StatusDetails.html" method="post" id="status_detail_{{ v.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="ci_task_id" name="ci_task_id" value="{{ v.id }}" form="status_detail_{{ v.id }}">
                                                    <td><button type="submit" class="btn btn-success btn-sm ci-timeline" id="ci-timeline-{{ v.id }}" value="{{ v.id }}">构建成功</button></td>
                                                </form>
                                            {% elif v.status == 2 %}
                                                <td><button type="button" class="btn btn-default btn-sm ci" id="ci-{{ v.id }}" value="{{ v.id }}">重新构建</button></td>
                                                <form action="/build/task/StatusDetails.html" method="post" id="status_detail_{{ v.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="ci_task_id" name="ci_task_id" value="{{ v.id }}" form="status_detail_{{ v.id }}">
                                                    <td><button type="submit" class="btn btn-warning btn-sm ci-timeline" id="ci-timeline-{{ v.id }}" value="{{ v.id }}">构建失败</button></td>
                                                </form>
                                            {% endif %}
                                            {% empty %}
                                                <td align="center" colspan="7">当前无构建任务</td>
                                        {% endfor %}
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-6 pull-right">
                            <section class="panel">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>关联CI-ID</th>
                                            <th>QA审批人</th>
                                            <th>审批结果</th>
                                            <th>发布操作</th>
                                            <th>回滚操作</th>
                                            <th>发布状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for v in ci_tasks|keyvalue:service.id %}
                                           {% for cd_task in cd_tasks|keyvalue:v.id %}
                                        <tr>
                                            <td>{{ cd_task.task_id }}</td>
                                            <td>{{ v.id }}</td>
                                            <td>{{ v.service.service_qa }}</td>
                                            {% if v.qa_approved == 1 %}
                                                <td>已审批</td>
                                            {% elif v.qa_approved == 0 %}
                                                <td>未审批</td>
                                            {% elif v.qa_approved == 2 %}
                                                <td>未通过审批</td>
                                            {% endif %}

                                            {% if cd_task.is_init_provisioned == 0 and cd_task.is_full_provisioned == 0 and cd_task.is_rolledback == 0 and cd_task.is_deployed == 0 %}
                                                <td><button type="button" class="btn btn-default btn-sm ir" id="ir-{{ cd_task.task_id }}" value="{{ cd_task.task_id }}">初始发布</button></td>
                                                <td><button type="button" class="btn btn-default btn-sm">无法操作</button></td>
                                                <td><button type="button" class="btn btn-default btn-sm">发布未开始</button></td>
                                            {% elif cd_task.is_init_provisioned == 1 and cd_task.is_full_provisioned == 0 and cd_task.is_rolledback == 0 and cd_task.is_deployed == 0 %}
                                                <td><button type="button" class="btn btn-default btn-sm fr" id="fr-{{ cd_task.task_id }}" value="{{ cd_task.task_id }}">完整发布</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm rb" id="rb-{{ cd_task.task_id }}" value="{{ cd_task.task_id }}">回滚</button></td>
                                                <td><button type="button" class="btn btn-default btn-sm">初始发布完成</button></td>
                                            {% elif cd_task.is_init_provisioned == 1 and cd_task.is_full_provisioned == 1 and cd_task.is_rolledback == 0 and cd_task.is_deployed == 0 %}
                                                <td><button type="button" class="btn btn-default btn-sm ack" id="ack-{{ cd_task.task_id }}" value="{{ cd_task.task_id }}">发布结单</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm rb" id="rb-{{ cd_task.task_id }}" value="{{ cd_task.task_id }}">回滚</button></td>
                                                <td><button type="button" class="btn btn-success btn-sm">完整发布完成</button></td>
                                            {% elif cd_task.is_init_provisioned == 1 and cd_task.is_full_provisioned == 1 and cd_task.is_rolledback == 0 and cd_task.is_deployed == 1 %}
                                                <td><button type="button" class="btn btn-default btn-sm">无法操作</button></td>
                                                <td><button type="button" class="btn btn-default btn-sm">无法操作</button></td>
                                                <td><button type="button" class="btn btn-success btn-sm">发布已完成</button></td>
                                            {% elif cd_task.is_init_provisioned == 1 and cd_task.is_full_provisioned == 1 and cd_task.is_rolledback == 1 and cd_task.is_deployed == 0 %}
                                                <td><button type="button" class="btn btn-default btn-sm">无法操作</button></td>
                                                <td><button type="button" class="btn btn-default btn-sm">无法操作</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm">发布已回滚</button></td>
                                            {% elif cd_task.is_init_provisioned == 1 and cd_task.is_full_provisioned == 0 and cd_task.is_rolledback == 1 and cd_task.is_deployed == 0 %}
                                                <td><button type="button" class="btn btn-default btn-sm">无法操作</button></td>
                                                <td><button type="button" class="btn btn-default btn-sm">无法操作</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm">发布已回滚</button></td>
                                            {% elif cd_task.is_init_provisioned == 2 and cd_task.is_full_provisioned == 0 and cd_task.is_rolledback == 0 and cd_task.is_deployed == 0 %}
                                                <td><button type="button" class="btn btn-default btn-sm ir" id="ir-{{ cd_task.task_id }}" value="{{ cd_task.task_id }}">重新执行</button></td>
                                                <td><button type="button" class="btn btn-default btn-sm">无法操作</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm">初始发布失败</button></td>
                                            {% elif cd_task.is_init_provisioned == 1 and cd_task.is_full_provisioned == 2 and cd_task.is_rolledback == 0 and cd_task.is_deployed == 0 %}
                                                <td><button type="button" class="btn btn-default btn-sm fr" id="fr-{{ cd_task.task_id }}" value="{{ cd_task.task_id }}">重新执行</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm rb" id="rb-{{ cd_task.task_id }}" value="{{ cd_task.task_id }}">回滚</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm">完整发布失败</button></td>
                                            {% elif cd_task.is_init_provisioned == 1 and cd_task.is_full_provisioned == 1 and cd_task.is_rolledback == 0 and cd_task.is_deployed == 2 %}
                                                <td><button type="button" class="btn btn-default btn-sm fr" id="fr-{{ cd_task.task_id }}" value="{{ cd_task.task_id }}">重新执行</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm rb" id="rb-{{ cd_task.task_id }}" value="{{ cd_task.task_id }}">回滚</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm">发布结单异常</button></td>
                                            {% elif cd_task.is_init_provisioned == 1 and cd_task.is_full_provisioned == 1 and cd_task.is_rolledback == 2 and cd_task.is_deployed == 0 %}
                                                <td><button type="button" class="btn btn-default btn-sm">无法操作</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm rb" id="rb-{{ cd_task.task_id }}" value="{{ cd_task.task_id }}">重新执行</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm">回滚失败</button></td>
                                            {% else %}
                                                <td><button type="button" class="btn btn-warning btn-sm">状态异常</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm">状态异常</button></td>
                                                <td><button type="button" class="btn btn-warning btn-sm">状态异常</button></td>
                                            {% endif %}
                                            {% empty %}
                                                <td align="center" colspan="7">等待创建关联发布任务</td>
                                        </tr>
                                            {% endfor %}
                                            {% empty %}
                                                <td align="center" colspan="7">当前无发布任务</td>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </section>
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
{% endspaceless %}
{% endblock %}